.menu__item {
  width: 14em;
  height: 3.75em;
  margin: 0 auto 1.5em;
  border-radius: 1em;
  color: white;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  transition: border 0.3s ease-in;
}

.menu__item:hover {
  border: 1px solid white;
}

.menu__item svg {
    flex-basis: 30%;
}
.menu__item p {
    flex-basis: 70%;
    font-size: 1.125em;
    font-weight: 500;
}

.menu_item_active{
  background-color: white;
  color: black;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 800px) {
  .menu__item {
    margin: 0 0 0 1em ;
  }
}
@media screen and (max-width: 400px) {
  .menu__item {
    margin: 0 0 1em 0 ;
  }
}