.app {
  background-color: #f7f7fb;
  display: flex;
  background: linear-gradient(200deg, #b380fd 12%, #6347f5 78%);
}

.menu {
  height: 100%;
  font-size: 1rem;
  flex-basis: 15%;
  align-self: flex-start;
  position: sticky;
  top: 4em;
}

.menu-logo {
  display: block;
  width: 12.5em;
  margin: 0 auto 4.5em;
}

.main {
  min-height: 100vh;
  font-size: 1rem;
  padding: 4em 8em;
  background-color: #F7F7FB;
  border-top-left-radius: 2em;
  flex-basis: 85%;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    padding: 2em 4em;
    position: relative;
  }
  .menu-logo {
    margin: 0 auto 0 0; 
  }
  .main {
    border-top-right-radius: 2em;
    padding: 2em 4em;
  }
}
@media screen and (max-width: 600px) {
  .menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-logo {
    flex-basis: 100%;
    padding: 0 25%;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 400px) {
  .menu-logo {
    padding: 0;
    margin: 1em 0 ;
  }
  .menu {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
}